<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ejemplo 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

</head>


<div class="container-fluid mt-3" id="app">
    <input type="text" class="form-control" v-model="criterioDeBusqueda"
        placeholder="Ingresar un criterio de busqueda...">
    <br>
    <div class="card-deck m-0">
        <div class="row">
            <div class="col" v-for="persona in personasFiltradas">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">{{getNombreCompleto(persona)}}</h5>
                        <p class="card-text">dni {{persona.dni}}</p>
                        <a href="#" class="card-link">{{persona.correo}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</html>

<script>
    new Vue({
        el: '#app',
        data: {
            criterioDeBusqueda: '',
            //Aquí, en este array es donde tienen que agregar su información
            personas: [
                {
                    nombre: "Daniel",
                    apellido: "Sánchez",
                    correo: "danielsanchez68@hotmail.com",
                    dni: "20442873"
                },
                {
                    nombre: "Ariel",
                    apellido: "Schermuk",
                    correo: "arielschermuk@gmail.com",
                    dni: "40243436"
                },
                {
                    nombre: "Gerardo Alberto",
                    apellido: "Tulosai",
                    correo: "gerardo.tulosai@gmail.com",
                    dni: "28506237"
                },
                {
                    nombre: "Andres",
                    apellido: "Goossen",
                    correo: "goossenandres@gmail.com",
                    dni: "40763987"
                },
                {
                    nombre: "Luciano",
                    apellido: "Ventura",
                    correo: "ventura-luciano@hotmail.com",
                    dni: "39387916"
                },
                {
                    nombre: "Maria Celeste",
                    apellido: "Alvarez",
                    correo: "cel_mary@hotmail.com",
                    dni: "36874250"
                },
                {
                    nombre: "Javier",
                    apellido: "de la Fuente",
                    correo: "dlfjavier@gmail.com",
                    dni: "16599452"
                },
                {
                    nombre: "Alan",
                    apellido: "Buengueroff",
                    correo: "alanbuengue@gmail.com",
                    dni: "42877999"
                },
                {
                    nombre: "Lucas Ariel",
                    apellido: "Horestein",
                    correo: "lucas@horestein.com.ar",
                    dni: "39911914"
                },
                {
                    nombre: "Lucio Agustin",
                    apellido: "Librera Alvarez",
                    correo: "luciolibrera@gmail.com",
                    dni: "39760121"
                },
                {
                    nombre: "Matias Ariel",
                    apellido: "Lo Castro",
                    correo: "matias.locastro@hotmail.com",
                    dni: "38886461"
                },
                {
                    nombre: "Juan Pablo",
                    apellido: "Masyk Lopez",
                    correo: "juanpablomasyk@gmail.com",
                    dni: "43570681"
                },
                {
                    nombre: "Federico Eloy",
                    apellido: "Puppo",
                    correo: "fedex-92@live.com.ar",
                    dni: "37141302"
                },
                {
                    nombre: "Martin",
                    apellido: "Questa",
                    correo: "martinquesta@gmail.com",
                    dni: "37113978"
                },
                {
                    nombre: "Sofia",
                    apellido: "Reboredo",
                    correo: "sofi.reboredo@gmail.com",
                    dni: "35540321"
                },
                {
                    nombre: "IARA",
                    apellido: "DOMINGUEZ GORDON",
                    correo: "iaradg123@gmail.com",
                    dni: "42645733"
                },
                {
                    nombre: "Tom\u00e1s Alejandro",
                    apellido: "ESEREQUIS JUNOR",
                    correo: "tomasjunor@gmail.com",
                    dni: "39775229"
                },
                {
                    nombre: "CESAR EMANUEL",
                    apellido: "DOS SANTOS",
                    correo: "emanueldossantoset5@gmail.com",
                    dni: "42614696"
                },
                {
                    nombre: "STEFANO",
                    apellido: "PLUMARI",
                    correo: "stefanoplumari@gmail.com",
                    dni: "40243440"
                },
                {
                    nombre: "Marta",
                    apellido: "Artaza",
                    correo: "marta.artaza@gmail.com",
                    dni: "29905670"
                },
                {
                    nombre: "Ariel",
                    apellido: "Feder",
                    correo: "ariel.s.feder@gmail.com",
                    dni: "39417573"
                },
            ]
        },
        computed: {
            personasFiltradas() {
                return this.personas.filter((persona) => {
                    let registroCompleto = `${persona.nombre} ${persona.apellido} ${persona.dni} ${persona.correo}`
                    return registroCompleto.toLowerCase().includes(this.criterioDeBusqueda.toLowerCase())
                });
            }
        },
        methods: {
            getNombreCompleto(persona) {
                return `${persona.nombre} ${persona.apellido}`
            }
        }
    });
</script>